{% extends 'base.html' %}

{% block title %}
Account
{% endblock title %}

{% block content %}
<main>
    <h1>Account</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for info in account_list %}
            <tr>
                <td>{{ info.name }}</td>
                <td>{{ info.number }}</td>
                <td>{{ info.items.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
